.appointmentDetailContent {
    min-height: 100vh;
    background-color: #F1F6F9;
    display: flex;
    flex-direction: column;
}

.AppointmentDetailTitle {
    color: #DC6099;
    margin: 70px auto 0 auto;
    max-height: fit-content;
    max-height: 24px;
    font-family: nos;
    font-size: 24px;
}

.consulentCard {
    width: 90%;
    height: 80px;
    margin: 120px auto 0 auto;
}

.consulentAppointmentContent {
    padding: 0;
    display: flex;
}

.consulentCardText {
    color: #2B2E6B;
    margin: 12px 0 0 15px;
}

.consulentCardText:nth-child(2) {
    margin-top: 5px;
}

.iconConsulent {
    color: #2B2E6B;
    margin-right: 10px;
}

.commentCard {
    width: 90%;
    min-height: 140px;
    margin: 20px auto 0 auto;
    position: relative;
}

.commentCardContent {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.horizontalBlueBorder {
    width: 100%;
    height: 50px;
    background-color: #2B2E6B;
    display: flex;
}

.commentCardTitle {
    color: white;
    position: relative;
    bottom: 30px;
}

.commentCardText {
    color: #2B2E6B;
    text-align: center;
    margin-top: 20px;
}

.appointmentDetailSubtitle {
    color: #DC6099;
    font-family: nos;
    font-size: 24px;
    max-height: 25px;
    position: relative;
    margin-top: 30px;
}

.consulentAppointmentText {
    color: #2B2E6B;
    margin: 10px 0 5px 15px;
    font-size: 14px;
}

.addComment {
    width: 80%;
    height: 44px;
    border-radius: 50px;
    background-color: white;
    color: #2B2E6B;
    box-shadow: 3px 3px 4px darkgray;
    margin: 20px auto 30px auto;
    padding: 0;
}

.appointmentContent {
    display: flex;
    flex-direction: column;
}