.storyHeader {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid darkgray;
    position: fixed;
    background-color: white;
    z-index: 90;
}

.chevronBack {
    font-size: 26px;
    margin: 14px 0 auto 10px;
    color: #DC6099;
}

.dietLogo {
    margin: auto 0 auto 100px;
}

.storyContent {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
}

.storyContent>img {
    margin: 0 auto 0 auto;
}

.storyContent>p {
    width: 336px;
    margin: 0 auto 0 auto;
}

.storyContent>img:nth-child(3) {
    margin: 20px auto 20px auto;
}

.storyContent>h3 {
    margin: 20px auto 20px 18px;
    font-size: 14px;
    font-weight: bold;
    color: #2B2E6B;
}

.storyContent>p:nth-child(6) {
    margin-bottom: 30px;
}