.aboutUsPage {
    height: 100%;
    background-color: #F1F6F9;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    overflow-x: unset;
}

.aboutUsContent {
    position: relative;
    top: 110px;
    overflow-y: hidden;
}

.aboutUsHeader {
    padding: 20px 0;
}

.aboutUsHeader>h1,
.aboutUsInfo>h1 {
    color: #DC6099;
    margin: 0 20px;
    font-weight: bold;
    font-size: 20px;
    width: 300px;
}

.aboutUsHeader>img {
    position: absolute;
    right: 0;
}

.aboutUsHeader>p {
    color: #2B2E6B;
    font-size: 14px;
    width: 240px;
    margin: 20px 0 0 20px;
}

.aboutUsHeader>p:nth-child(4) {
    width: 340px;
}

.aboutUsInfo {
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    height: 340px;
}

.aboutUsInfo>p {
    color: #2B2E6B;
    font-size: 14px;
    margin: 20px 0 0 20px;
    width: 340px;
}