.dietInfo {
    height: 100%;
    background-color: white;
}

.dietInfoContent {
    position: relative;
    top: 130px;
    display: flex;
    flex-direction: column;
}

.dietInfoContent>h1 {
    color: #DC6099;
    margin: 20px auto 0 auto;
    font-weight: bolder;
    font-size: 28px;
}

.aboutContent {
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 550px;
    background-color: white;
    margin: 30px auto 0 auto;
    border-radius: 15px;
}

.aboutContent>p {
    margin-top: 30px;
    max-width: 80%;
}

.slide {
    max-width: 200px;
    display: flex;
    flex-direction: column;
}

.slide>h2 {
    font-size: 26px;
    font-weight: bold;
    color: #2B2E6B;
    margin: 60px auto 0 auto;
}

.slide>p {
    font-weight: normal;
    font-size: 20px;
    margin: 30px auto 0 auto;
}

.aboutImg {
    width: 200px;
    height: 200px;
    margin: 60px auto 0 auto;
}

.aboutContent>h1 {
    font-weight: bold;
    font-size: 22px;
    color: #2B2E6B;
    margin: 50px auto 0 auto;
}

.aboutContent>p {
    font-weight: normal;
    font-size: 16px;
    color: black;
    margin: 30px auto 0 auto;
}

.aboutContent>button {
    width: 100px;
    height: 35px;
    border-radius: 50px;
    background-color: #2B2E6B;
    color: white;
    transition: all 0.2s ease;
    outline: none;
    outline: none;
    margin: 20px auto 30px auto;
    border: none;
}


/*Stappenplan */

.stappenPlan {
    position: absolute;
    top: 110px;
    height: 80%;
    background-color: #F1F6F9;
    z-index: 80;
    display: flex;
    flex-direction: column;
}

.stappenPlanHeader {
    display: flex;
}

.stappenPlanHeader>h1 {
    font-weight: bolder;
    font-size: 28px;
    margin: 20px 0 0 20px;
    color: #DC6099;
    font-family: nos;
}

.stappenplanImage {
    width: 340px;
    height: fit-content;
    background-color: white;
    margin: 30px auto 0 16px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.stappenplanImage>h1 {
    font-weight: bolder;
    font-size: 28px;
    color: #DC6099;
    font-family: nos;
    margin: 20px auto 0 auto;
}

.arrowBack {
    margin: 20px 0 0 15px;
    color: white;
    border: none;
    outline: none;
    background-color: #DC6099;
    width: 30px;
    min-height: 30px;
    font-size: 16px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backIcon {
    font-size: 25px;
    color: white;
    margin: auto 0 auto 0;
    padding-right: 5px;
    padding-left: 3px;
}

.stappenPlan>p {
    font-size: 14px;
    color: #2B2E6B;
    margin: 15px 0 0 20px;
    width: 325px;
}

.stappenplanImage>img {
    margin: 20px auto 0 auto;
}