.experiencePage {
    height: 100%;
    background-color: #F1F6F9;
}

.experienceContent {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.experienceContent>h1 {
    color: #DC6099;
    margin: 30px auto 0 auto;
    font-weight: bolder;
    font-size: 24px;
    font-family: nos;
}

.experienceSlide {
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 550px;
    background-color: white;
    margin: 40px auto 0 auto;
    border-radius: 15px;
}

.experienceImg {
    width: 25%;
    height: 40%;
    margin: 30px auto 15px auto;
}

.experienceSlide>h1 {
    font-weight: bold;
    font-size: 22px;
    color: #2B2E6B;
    margin: 30px auto 15px auto;
}

.experienceSlide>p {
    font-size: 16px;
    color: black;
    margin: 20px auto 0 auto;
    text-align: center;
    max-width: 270px;
}

.aboutImg2 {
    width: 270px;
    height: 198px;
    margin: 20px auto 0 auto;
}

.borderBottom {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 14px;
    background-color: #2B2E6B;
}

.moreBtn {
    width: 140px;
    height: 30px;
    border-radius: 70px;
    margin: 30px auto 0 auto;
    background-color: #DC6099;
    color: white;
    outline: none;
    border: none;
}

.modalBtn {
    width: 26px;
    height: 26px;
    border-radius: 60px;
    background-color: #2B2E6B;
    border: none;
    outline: none;
    margin: 10px 0 0 290px;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
}


/* Modal styling*/

.modalBckgrnd {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.modal {
    width: 340px;
    height: 280px;
    background-color: white;
    z-index: 81;
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.modalHeader {
    display: flex;
    border-bottom: 1px solid darkgray;
    height: 45px;
    justify-content: right;
}

.modalHeader>img {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.modal>p {
    margin: 25px auto 0 auto;
    max-width: 85%;
    text-align: center;
    color: black;
    font-size: 14px;
}

.closeModal {
    margin: 5px 0 auto 300px;
    color: #2B2E6B;
    font-size: 30px;
}