* {
    padding: 0;
    margin: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: robo;
}

@font-face {
    src: url(../../fonts/LondrinaSolid-Black.ttf);
    font-family: nos;
}

@font-face {
    src: url(../../fonts/RobotoSlab-Regular.ttf);
    font-family: robo;
}

:link {
    text-decoration: none;
}

h2 {
    color: #DC6099;
    font-size: 24px;
    margin: 20px 15px 0 15px;
    font-family: nos;
}