.topNavigation {
    display: flex;
    flex-direction: column;
    z-index: 99;
}

.navigationInfo {
    height: 55px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #B9B9B9;
    position: fixed;
    display: flex;
    border-bottom: 1.5px solid #E5E4E4;
    z-index: 99;
}

.logo {
    width: 100px;
    height: 40px;
    margin: 7px auto 0 auto;
}

.iconBtn {
    height: 55px;
    width: 100%;
    background-color: white;
    display: flex;
    position: fixed;
    top: 55px;
    z-index: 98;
    border-bottom: 1px solid lightgray;
}

.navIcon {
    font-size: 26px;
    color: #2B2E6B;
    margin: 15px auto 0 auto;
}

.navIconActive {
    font-size: 26px;
    color: #DC6099;
    margin: 15px auto 0 auto;
}