.container {
    position: relative;
    border-color: #DC6099;
    display: inline-block;
    --ion-background-color: #6D99CF;
    box-sizing: border-box;
    padding: 215px;
}
.loginContainer{
    padding: 215px;
    box-sizing: border-box;
    vertical-align: middle!important;
    height:50vh;
    --ion-background-color: #DBE9F0;
    border-radius: 15px;
    display: table;
}
.loginContainer h2{
    color: #CD5A90;
}

.userInputContainer{
    background-color: #DBE9F0;
    display: table;
    margin: 0 auto;
    border: 1px solid black;

}
.form-control{
    background-color: transparent;
    border-color: transparent;
}
.form-group-userInput{
    background-color: #2b2e6b;
    margin-bottom: 15px;
}