.loginContainer {
    background: #F1F6F9;
}

.login-logo {
    width: 160px;
}

.loginContainer{
    height: 100%;
    position: absolute;
    z-index: 999;
}
.loginContainer h2{
    font-family: nos;
    font-size: 32px;
    color: #CD5A90;
    font-weight: 900;
    margin-bottom: 20px;
    text-align: center;
}

.loginInner {
    padding: 15px;
}

form {
    margin-top: 20px;
}

.loginHead, .loginBody {
    /* margin-bottom: 20px; */
    border-bottom: 2px solid white;
}

.loginTitle {
    display: block;
}

.loginContent {
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.loginContent h3 {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
}

.loginContent input {
    width: 100%;
    padding: 15px;
    border-radius: 7px;
    background: #fff;
    border: 1px solid #CD5A90;
    display: block;
    color: #000;
    width: calc(100% - 30px);
}

.loginContent input::placeholder {
    text-align: left;
}

.loginBody {
    width: 100%;
}

.loginInput {
    width: 100%;
    margin-bottom: 20px;
    line-height: 20px;
}

#loginSubmit {
    background: #2B2E6B;
    border-radius: 7px;
    display: block;
}

#forgotPass {
    color: #000;
    text-align: center;
    display: block;
    margin-top: 15px;
}

#informUser {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-weight: 900;
}